body {
	background-image: url("../images/concrete_seamless.png");
}

.jumbotron {
	color: #fff;
	background-color: #000;
}

.martialArt {
	margin: .25em;
	background-color: #000;
	color: #fff;
}

.btn-inverse:hover, .btn-inverse:focus {
	color: #e60000;
}

.form-div {
	margin-top: .5em;
}

 label {
	font-size: 1.5em;
	margin-right: .25em;
 }

#new-subject {
	padding: .25em 2em;
}

#add-subject {
	margin: .25em;
	background-color: #000;
	color: #fff;
}

#add-subject:hover {
	color: #e60000;
}

.img-responsive {
	width: 100%;
	border: .25em solid #000;
}

.listing {
	font-size: 2em;
}