/* Base Styles */
body {
	background-image: url("../images/concrete_seamless.png");
}

.jumbotron {
	color: #fff;
	background-color: #000;
}

.martialArt {
	margin: .25em;
	background-color: #000;
	color: #fff;
}

.btn-inverse:hover, .btn-inverse:focus {
	color: #e60000;
}

/* Form Styles */
.form-div {
	margin-top: .5em;
}

 label {
	font-size: 1.5em;
	margin-right: .25em;
 }

/* Form Buttons */
#new-subject {
	padding: .25em 2em;
}

#add-subject {
	margin: .25 .25 .25 0;
	background-color: #000;
	color: #fff;
}

#add-subject:hover {
	color: #e60000;
}

#reset-btn {
	background-color: #e60000;
	color: #fff;
	margin: .25em;
	padding-left: 1.1em;
	padding-right: 1.1em;
}

#reset-btn:hover {
	color: #000;
}

/* Image Styles */
.img-responsive {
	width: 100%;
	border: .25em solid #000;
}

.listing {
	font-size: 2em;
}